# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore VSCode Extension Pack for Java output 
bin

# Ignore macOS Finder directory config
.DS_Store
