# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore VSCode Extension Pack for Java output
bin

# Ignore macOS Finder directory config
.DS_Store

# Ignore terraform state (as it is persisted via Azure Storage)
terraform.tfstate*
.terraform*
