# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore VSCode Extension Pack for Java output
bin

# Ignore environment file
.env

# Ignore VSCode settings files
.vscode

# Ignore JetBrains settings files
.idea

# Ignore macOS Finder directory config
.DS_Store
Thumbs.db

# Ignore python version file
.python-version

# Ignore terraform state (as it is persisted via Azure Storage)
terraform.tfstate*
.terraform*

# Ignore generated directories that are part of the HL7 IG tooling process
ig/fsh-generated
ig/input-cache
ig/output
ig/temp
ig/template

__pycache__
localfileorder.json
